.workspace-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter' , sans-serif;
}

.workspace-heading{
    font-size: 25px;
    margin-top: 70px;
    color: black;
}

.workspace-sub-heading{
    font-size: 15px;
    color: darkgray;
    margin-bottom: 35px;
}

.workspaceUrl{
    margin-top: 10px;
}

.workspace-input-box{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 45px;
    width: 420px;
}

.workspace-input{
    font-size: 12px;
    height: 67%;
    padding-top: 15px;
    text-align: center;
    color: rgb(102, 99, 99);
    border-right: 1px solid darkgray;
    width: 100px;
    background-color: lightgray;
    margin-right: 10px;
}

#workspaceUrl{
    font-size: 15px;
}

.errors-box{
    font-size: 12px;
    color: red;
}

@media screen and (max-width : 500px) {
    .workspace-heading{
        font-size: 20px;
        margin-top: 70px;
        color: black;
        margin-left: 10px;
    }
    .workspace-sub-heading{
        font-size: 13px;
        color: darkgray;
        margin-bottom: 35px;
        margin-left: 12px;
    }
    .workspace-input-box{
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        border-radius: 4px;
        height: 45px;
        width: 84vw;
        margin-left: 20px;
    }
}